[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Grant
[user]
	email = gergely.daniel7@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[push]
	default = matching
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
