[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = daniel7grant
[user]
	email = gergely.daniel7@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
